<h3 class="text-center">Trainings: <%= @trainings %></h3>

<h5 class="text-center">Log a Training:</h5>
<%= render 'form' %>

<div class="options">
    <%= link_to "View the Trainings Log", log_path(@log) %>
</div>
