<h3 class="text-center">Edit Cancellation with ID #<%= @cancellation.id %>:</h3>
<%= render 'form' %>
<div class="options"><%= link_to "Back to the Cancellations Log", cancellation_log_path(@cancellation.cancellation_log) %></div>
