<div id="datefiltermodal" style="display: none">
    <label>From:</label>
    <p><%= text_field_tag "fromDate", nil, class: "modal--Input" %></p>
    <label>To:</label>
    <p><%= text_field_tag "toDate", nil, class: "modal--Input" %></p>
</div>

<script type="text/javascript">
    let fromDate = $("#fromDate");
    let toDate = $("#toDate");
    
    fromDate.click(function(){
       fromDate.datepicker().datepicker("show");
    });
    toDate.click(function(){
       toDate.datepicker().datepicker("show");
    });
</script>