<div class="search-bar">
    <%= select_tag "search", options_for_select(["Member Name", "Company Name", "Trainer", "Stage", "Status", "Date"])%>
    <%= text_field_tag "search-field", nil, class: "search-field" , placeholder: "Search for a Training"%>

    <button id="search-btn" class="search-btn" onclick="search()"><i class="fa fa-search"></i></button>
</div>

<script>
    function search(q, str) {
            if (q == null)
            {
                query = $("#search").find(":selected").text();
                query = sanitize(query);
            }
            else
            {
                query = q;
            }
            
            if (str == null) 
            {
                string = $("#search-field").val()
            }
            else
            {
                string = str;
            }
            
            
            window.location.replace("/search?query=" + query + "&string=" + string);
    }
    
    function sanitize(query) {
        switch(query) {
            case "Member Name":
                return "member";
                break;
            case "Company Name":
                return "company";
                break;
            case "Status":
                return "status";
                break;
            case "Stage":
                return "stage";
                break;
            case "Trainer":
                return "trainer";
                break;
            default:
                return "member";
                break;
        } 
    }
    
    var input = document.getElementById("search-field");
    input.addEventListener("keyup", function(event) {
      event.preventDefault();
      if (event.keyCode === 13) {+
        document.getElementById("search-btn").click();
      }
    });
    
    $("#search").change(function()
    {
         var clickStr = $("#search").find(":selected").text();
         if (clickStr.toLowerCase() == "date")
         {
            var modal = "#datefiltermodal";
            $(modal).show(); 
            $( modal ).dialog({
              dialogClass: "dateRangeWidget",
              title: "Search by Date",
              buttons: [
                {
                  text: "OK",
                  click: function() {
                    let fromDate = encodeURI($("#fromDate").val());
                    let toDate = encodeURI($("#toDate").val());
                    
                    $( this ).dialog( "close" );
                    window.location.replace("/search?query=date&string=null&from_date=" + fromDate + "&to_date=" + toDate);
                  }
                }
              ]
            });
         }
         
         
         
    });
   
</script>