<div id="about" class="text-center">
    <h3>About This App</h3>
    <p>This application was created using the following:</p>
    <span>Languages: Ruby 2.4.0, ERB, HTML5, SCSS</span><br/>
    <span>Framework: Ruby on Rails 5.2</span><br/>
    <span>Database: PostgreSQL</span>
    
    
</div>

<div class="options">
    <%= link_to "Go Back", root_path %>
</div>
