<h3>About This App</h3>
<p><ul>This application was created using the following:
    <li>Languages: Ruby 2.4.0, ERB, HTML5, SCSS</li>
    <li>Framework: Ruby on Rails 5.2</li>
    <li>Database: PostgreSQL</li>

</ul></p>
