/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */

@import "font-awesome";
@import "toastr";

#logo {
    font-family: "Impact";
}

#about * {
    list-style: none;
}

#filter {
    border: none;
    font-weight: bold;
}

#content {
    height: 900px;
    overflow: auto;
}

.bar {
    margin-top: 10px;
    height: 50px;
    background-color: #296893;
    
    #head {
        text-align: left;
        list-style: none;
        color: white;
        li {
            display: inline-block;
            padding: 10px;
        }
    }
    
    #foot {
        text-align: right;
        list-style: none;
        color: white;
        li {
            display: inline-block;
            padding: 10px;
        }
    }
    
    a {
        color: white;
        text-decoration: none;
        
        &:hover {
            color: white;
            text-decoration: none;
        }
    }
}

.training, .cancellation {
    #notes {
        margin: 0 auto;
        height: 100px;
        width: 300px;
        overflow-y: auto;
        word-wrap: break-word;
    }
    
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    
    a {
        margin: 20px;
        padding: 10px;
        color: white;
        background-color: #296893;
        
        &:hover {
            color: white;
            background-color: #205375;
            text-decoration: none;
        }
    }
}

body * {
    font-family: "Segoe UI", "Arial", sans-serif;
    transition: all 0.5s;
}

body {
    min-width: 800px;
    min-height: 800px;
}

h3 {
    padding: 10px;
    
    small {
        color: #205375;
    }
}

form, .training, .cancellation {
    margin: 50px auto;
    padding: 10px;
    width: 500px;
    text-align: center;
    border: 1px solid #68a1ff;
}

